.sidebar-dark {
  background: #001d31;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1f5860;
  border-radius: 0;
}

#content {
  background: #16263d;
  color: #fff;
}
