@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  color: #43c4c6;
}

.sidebar-dark {
  background: #001d31;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1f5860;
  border-radius: 0;
}

#content {
  background: #16263d;
  color: #93b4cc;
}

.main-content {
  max-width: 90rem;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 3.2rem 6rem;
  }
}
